.Toastify__progress-bar-theme--light, .Toastify__progress-bar-theme--dark {
    background: linear-gradient(
            90deg,
            #00f2c4 0%,
            #66f16d 13%,
            #b5e653 25%,
            #f6e900 38%,
            #ffcc00 50%,
            #ffb316 63%,
            #ff747d 75%,
            #ff4ea7 88%,
            #ff00df 100%
    ) !important;
    border-radius: 8px;
}

.Toastify__toast {
    border-radius: 8px;
}